.ui-form {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.table_list {
  width: 100%; border-collapse: collapse; background: #fff;
  border-top: 3px solid #d2d6de; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  th { padding: 10px; text-align: left;}
  td { padding: 10px;}
}