
@font-face {font-family: "iconfont";
  src: url(./fonts/iconfont.eot?t=1522649609447); /* IE9*/
  src: url(./fonts/iconfont.eot?t=1522649609447#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(./fonts/iconfont.ttf?t=1522649609447) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url(./fonts/iconfont.svg?t=1522649609447#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
}

.icon-app:before { content: "\e605"; }

.icon-browser:before { content: "\e606"; }

.icon-camera:before { content: "\e608"; }

.icon-cart:before { content: "\e60a"; }

.icon-check:before { content: "\e60b"; }

.icon-code:before { content: "\e60c"; }

.icon-computer:before { content: "\e60d"; }

.icon-copy:before { content: "\e60e"; }

.icon-delete:before { content: "\e60f"; }

.icon-deliver:before { content: "\e611"; }

.icon-down:before { content: "\e613"; }

.icon-edit:before { content: "\e615"; }

.icon-enclosure:before { content: "\e617"; }

.icon-favor:before { content: "\e619"; }

.icon-fold:before { content: "\e61d"; }

.icon-folder:before { content: "\e61f"; }

.icon-home:before { content: "\e626"; }

.icon-information:before { content: "\e627"; }

.icon-left:before { content: "\e628"; }

.icon-loading:before { content: "\e62b"; }

.icon-sitting:before { content: "\e64c"; }

.icon-liuchengpeizhi:before { content: "\e602"; }

.icon-xitongyunhangtongji:before { content: "\e603"; }

.icon-xinxigongxiang:before { content: "\e604"; }

.icon-chaxuntongji:before { content: "\e607"; }

.icon-tongxunlu:before { content: "\e609"; }

.icon-wendangzhongxin:before { content: "\e610"; }

.icon-gerenshiwu:before { content: "\e612"; }

.icon-jixiao:before { content: "\e614"; }

.icon-yeji:before { content: "\e616"; }

.icon-yingxiao:before { content: "\e618"; }

.icon-youjian:before { content: "\e61a"; }

.icon-yijian:before { content: "\e61b"; }

.icon-shijian:before { content: "\e61c"; }

