// 遮罩
.ui_mask {
  position:fixed; z-index:9; top:0; left:0; width:100%; height:100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex; justify-content: center; align-items: center;
}

// alert confirm 弹层提示
.ui_layer {
  background-color: #fff; min-width: 150px; max-width: 30%; border-radius: 5px;
  .layer_content { padding: 20px 10px; text-align: center; line-height: 1.5em;}
  .layer_button {
    padding: 10px; text-align: center; border-top: #e6e6e6 solid 1px;
    button {
      width: 80px; height: 30px; border: 0; border-radius: 3px;
      margin: 0 5px; cursor: pointer;
      &.sure_button { background-color: #2db7f5; color: #fff;}
      &.cancel_button { background-color: #e6e6e6;}
    }
  }
}

// 弹窗
.ui_modal {
  display: none;
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%; z-index: 10;
  .ui_modal_box {
    display: flex;
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1);
    align-items: center; justify-content: center;
  }
  .ui_modal_content {
    min-width: 100px; max-width: 80%; max-height: 80%;
    background-color: #fff; border-radius: 5px; box-shadow: 2px 2px 5px #888;
  }
  .modal_header { line-height: 35px; border-bottom: 1px solid #ccc;}
  .modal_body { padding: 10px; border: 1px solid #ccc;}
  .modal_footer {}
}


// 弹层提示
.ui_tips {
  display: none;
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%; z-index: 30;
  .ui_tips_box {
    display: flex;
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1);
    align-items: center; justify-content: center;
  }
  .ui_tips_content {
    min-width: 100px; max-width: 80%; height: 60px;
    background-color: #fff; border-radius: 5px; box-shadow: 2px 2px 5px #888;
  }
  .ui_tips_txt {
    line-height: 32px; text-align: center; color: #333;
  }

  .ui_tips_warning {}
  .ui_tips_wrong {}
  .ui_tips_success {}
}

// 加载效果
.ui_loading {
  width: 100%; height: 100%;
  background: url('../../images/common/loading.gif') center center no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
}