.table_one {
  width: 100%; background: #fff;
  border-top: 3px solid #d2d6de; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  th { padding: 10px; text-align: left;}
  td { padding: 10px;}
}

.table_list {
  border: 1px solid #e9e9e9; width: 100%; background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  th, td {
    border-bottom: 1px solid #e9e9e9; padding: 15px; text-align: left;
  }
  th { background-color: #f7f7f7;}
  a { color: blue;}
  tr:nth-of-type(odd) { background-color: #fdfbfb;}
  tr:hover { background-color: #e6f7ff;}
}