@charset "utf-8";

* { padding: 0; margin: 0; box-sizing: border-box;}
img { border: 0;}

html, body { height: 100%;}
body { color: #333; font-size: 14px; background-color: #fff; user-select: none;}

ul { list-style: none;}
input, textarea, select, button { font: inherit; outline: 0;}
input[type="checkbox"] { cursor: pointer;}
button { border: 0; cursor: pointer;}

a { text-decoration: none; color: #333;}
table { border-collapse: collapse; border-spacing: 0;}
i { font-style: normal;}

.clear { float: none; clear: both;}
.clearfix:after { display: block; clear: both; content: " "; height: 0; overflow: hidden;}

.page { position: relative; width: 100%; height: 100%; max-width: 800px; margin: 0 auto;}