@charset "utf-8";
.page { overflow: hidden;}
.page_content {
  position: absolute; top: 45px; bottom: 45px; left: 0; z-index: 1;
  width: 100%; background-color: #fff; overflow: hidden;
}

.content_left {
  position: absolute; top: 0; bottom: 0; left: 0; z-index: 2; overflow: hidden;
  width: 80px; background-color: #f8f8f8;
}
.content_right {
  position: absolute; top: 0; bottom: 0; right: 0; z-index: 2; overflow: hidden;
  width: calc(100% - 80px);
}

// 商品分类
.sort_box {
  position: absolute; z-index: 3; width: 100%;
  transform: translateZ(0); user-select: none; text-size-adjust: none;
  li {
    display: table-row; height: 45px;
    &.cur { background-color: #fff; color: #333;}
    p {
      display: table-cell; padding: 0 8px;
      text-align: center; vertical-align: middle; border-bottom: 1px solid #eee;
    }
  }
}

// 商品列表
.item_box {
  position: absolute; z-index: 3; width: 100%;
  transform: translateZ(0); user-select: none; text-size-adjust: none;
  ul:last-child li:last-child { border-bottom: 0;}
  li {
    display: flex; padding: 5px; border-bottom: 1px solid #eee;
  }
  .item_img_box {
    width: 110px;
    img { width: 100px; height: 100px; display: block;}
  }
  .item_infor_box { flex: 1;}

  .item_name {
    font-size: 16px;
    text-overflow:ellipsis; white-space: nowrap; overflow: hidden;
  }
  .item_remark {
    font-size: 12px; color: #666; max-height: 80px; overflow: hidden;
  }
  // 选商品
  .price_box {
    display: flex; line-height: 24px; margin-top: 10px;
    .item_price {
      flex: 1; font-size: 18px; color: #f60;
      i { font-size: 14px;}
    }
    .item_choice {
      width: 100px; text-align: right;
      i, strong { display: inline-block; font-size: 16px; text-align: center;}
      strong { width: 20px;}
      i {
        width: 24px; height: 24px;
        border-radius: 24px; background-color: #59D178; color: #fff;
      }
      span {
        padding: 3px 10px;
        border-radius: 24px; background-color: #59D178; color: #fff;
      }
    }
  }
}


// 底部
.page_footer {
  position: absolute; bottom: 0; left: 0; z-index: 6;
  width: 100%; height: 45px; line-height: 45px; background-color: #fff;
  .footer_box {
    display: flex; width: 100%; color: #fff;
  }
  .bottom_cart {
    flex: 1; background-color: #3E3E40; padding-left: 20px;
    span { font-size: 18px; margin-left: 10px;}
  }
  .buy {
    width: 30%; background-color: #59D178;
    text-align: center; font-size: 18px;
  }
}



// 购物车
.cart_out_box {
  position: absolute; left: 0; bottom: -80%; z-index: 5;
  width: 100%; transition: bottom 0.5s;
}
.cart_box {
  width: 100%; max-width: 800px; margin: 0 auto;
  max-height: 80%; overflow: auto; background-color: #fff;
}
.cart_tit {
  background-color: #ddd; line-height: 30px; padding: 0 10px;
  span { float: right; cursor: pointer;}
}
.cart_list {
  display: table; width: 100%; padding: 0 10px;
  li { display: table-row;}
  .cart_item, .cart_choice {
    padding: 5px 0;
    border-bottom: 1px solid #fafafa; vertical-align: middle;
  }
  .cart_item {
    width: 60%;
    .cart_item_tit { font-size: 14px;}
    .cart_item_sm { font-size: 12px; color: #666;}
  }
  .cart_choice {
    display: table-cell; text-align: right; line-height: 20px;
    i, strong { display: inline-block; font-size: 14px; text-align: center;}
    strong { width: 30px;}
    i {
      width: 20px; height: 20px; cursor: pointer;
      border-radius: 20px; background-color: #59D178; color: #fff;
    }
  }
}

.cart_mask {
  position: absolute; left: 0; top: 0; z-index: 4; display: none;
  width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);
}

// 选规格
.size_out_box {
  position: absolute; left: 0; top: 0; z-index: 5;
  width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);
  display: flex; align-items: center; justify-content: center;
}
.size_box {
  width: 80%; max-width: 700px; margin: 0 auto; overflow: hidden;
  background-color: #fff; margin-top: -100px; border-radius: 5px; padding-top: 10px;
  .size_tit {
    padding: 0 10px; text-align: center; font-size: 18px; line-height: 35px;
    i { float: right; font-size: 24px; color: #666;}
  }
  .size_content {
    padding: 10px 20px;
    span {
      border: 1px solid #666; margin: 0 10px 10px 0; padding: 5px 15px;
      display: inline-block; border-radius: 30px; color: #666;
      &.cur { border-color: #59D178; color: #59D178;}
    }
  }
  .size_bottom {
    display: flex; line-height: 45px; font-size: 18px;
    background-color: #fafafa; border-top: 1px solid #ddd;
  }
  .size_price {
    flex: 1; color: #f60; font-size: 24px; padding-left: 10px;
    i { font-size: 14px;}
  }
  .size_btn_ok {
    width: 100px; text-align: center;
    background-color: #59D178; color: #fff;
  }
}


