@charset "utf-8";
@import url("main.scss");

// 纵向排列
.page_box { display: flex; flex-direction: column; height: 100%;}

// 顶部导航
.top_box {
  height: 45px; line-height: 45px; display: flex; background-color: #fff;
  border-bottom: 1px solid #E5E5E5; font-size: 16px;
  p { width: 33.33%; text-align: center;}
  p.cur { border-bottom: 2px solid #2396FF;}
}

// 商品内容
.content_box { flex: 1; display: flex;}

// 左侧分类
.content_left { width: 80px; background-color: #f8f8f8; overflow: hidden;}
.menu_left {
  display: table; width: 100%;
  li {
    display: table-row; height: 45px;
    &.cur { background-color: #fff; color: #333;}
    p {
      padding: 0 8px; text-align: center; cursor: pointer;
      display: table-cell; vertical-align: middle;
      border-bottom: 1px solid #eee;
    }
  }
}

// 商品列表
.content_main { flex: 1; overflow: hidden;}
.item_list {
  display: table; width: 100%;
  li {
    display: table-row;
    .image_box, .text_box { display: table-cell; vertical-align: top;}
  }
  .image_box {
    width: 140px;
    img { width: 100%; height: 100%;}
  }
  .text_box { padding: 0 10px;}
  .item_tit { font-size: 16px;}
  .item_remark { font-size: 12px; color: #666;}
  .price_box {
    display: flex;
    .item_price { width: 100px;}
    .item_choice { flex: 1; text-align: right;}
  }
}

// 底部
.bottom_box { height: 45px; display: flex; color: #fff; line-height: 45px;}
.cart {
  flex: 1; background-color: #3E3E40; padding-left: 20px;
  span { font-size: 18px; margin-left: 10px;}
}
.buy {
  width: 100px; background-color: #59D178;
  text-align: center; font-size: 18px;
}
