@charset "utf-8";
@import url("main.scss");

.page_box { display: flex; flex-direction: column; height: 100%;}
.top_box { height: 60px;}
.content_box { flex: 1; display: flex;}
.bottom_box { height: 60px;}

.content_left { width: 80px; background-color: #fafafa; overflow: hidden;}
.content_main { flex: 1; overflow: hidden;}

.menu_left {
  display: table; width: 100%;
  li {
    display: table-row; height: 35px;
    background-color: #fafafa; border-bottom: 1px solid #ccc;
    &.cur { background-color: #fff; color: #333;}
    p { padding-left: 10px; padding-right: 5px; display: table-cell; vertical-align: middle;}
  }
}