@charset "utf-8";
@import url("main.scss");

.page_box {
  background-color: #eee; height: 100%;
  padding: 10px 30px;
}

.reg_box {}
.login_box { display: none;}

// 登录注册
.form_box {
  background-color: #fff; border-radius: 5px; overflow: hidden;
  margin-bottom: 20px;
  li { padding: 10px; border-bottom: 1px solid #ccc;}
  li:last-child { border-bottom: 0;}
  input {
    height: 30px; font-size: 16px; padding-left: 10px; border: 0;
  }
  
}
.input_a { width: 100%;}
.input_b { width: 50%;}



.button_yzm {
  width: 40%; float: right;
  height: 30px; background-color: #ccc;
}
.button_reg {
  width: 100%; height: 40px; background-color: #ddd; margin-bottom: 30px;
}
.button_login {
  width: 100%; height: 40px; background-color: #ddd;
}





