@charset "utf-8";

.page { background-color: #eee;}

// 登录
.login_box { padding: 10px 30px;}
.top_tit { font-size: 18px; padding: 20px 0; text-align: center;}
.form_box {
  background-color: #fff; border-radius: 5px; overflow: hidden;
  margin-bottom: 20px;
  li { padding: 10px; border-bottom: 1px solid #ccc;}
  li:last-child { border-bottom: 0;}
  input {
    height: 30px; font-size: 16px; padding-left: 10px; border: 0;
  }
  .input_a { width: 100%;}
  .input_b { width: 50%;}
}

.button_yzm {
  width: 40%; float: right;
  height: 30px; background-color: #fafafa;
}

.button_reg {
  width: 100%; height: 40px; background-color: #59D178; margin-bottom: 30px;
  border-radius: 5px; color: #fff; font-size: 18px;
}

.login_tips { color: #999; font-size: 12px; line-height: 24px; text-align: center;}
.button_login {
  width: 100%; height: 40px; background-color: #fff; color: #59D178;
  border-radius: 5px; font-size: 18px; border: 1px solid #59D178;
}
