@charset "utf-8";

.page_box {
  background-color: #eee; height: 100%;
}

.order_list {
  padding: 15px;
  ul {
    background-color: #fff; padding: 10px 20px;
    border-radius: 5px; margin-bottom: 15px;
  }
  li { line-height: 27px;}
  span { display: inline-block; width: 80px; color: #666;}
  i { 
    font-style: normal;
    &.price { color: #c8441a;}
    &.end { color: #22c81a;}
    &.error { color: #999;}
  }
}



