@charset "utf-8";

.order_box {
  position: absolute; top: 45px; bottom: 0; left: 0; z-index: 1;
  width: 100%; background-color: #f8f8f8; overflow: hidden;
}
.order_list {
  position: absolute; z-index: 2; width: 100%; padding: 10px;
  transform: translateZ(0); user-select: none; text-size-adjust: none;
  ul {
    background-color: #fff; padding: 10px 20px;
    border-radius: 5px; margin-bottom: 15px;
  }
  li { line-height: 27px;}
  span { display: inline-block; width: 80px; color: #666;}
  i { 
    font-style: normal;
    &.price { color: #c8441a;}
    &.end { color: #22c81a;}
    &.error { color: #999;}
  }
  .order_btn {
    text-align: right;
    a {
      display: inline-block; color: #fff;
      border-radius: 5px; padding: 0 5px;
    }
    a.view { background-color: #59D178;}
    a.pay { background-color: #f60;}
  }
}
